@model ApplicationCore.Models.Response.CastDetailsResponseModel

<h1>@Model.Name</h1>
<img src="@Model.ProfilePath" />
<h2> Known for</h2>
<div class="rounded">
    <div class="container-fluid bg-light">
        <div class="row">
            @foreach (var movie in Model.Movies)
            {
                <div class="col-6 col-lg-3 col-sm-4 col-xl-2">

                    @await Html.PartialAsync("castmovie", movie)

                </div>
            }
        </div>
    </div>
</div>


<div>
    <hr />
    <dl class="row">

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TmdbUrl)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.TmdbUrl)
        </dd>
    </dl>
</div>