<form method="POST">
    FirstName:<input type="text" name="firstName"/> <br />
    LastName:<input type="text" name="lastName"/> <br />
    DOB:<input type="date" name="dateOfBirth"/> <br />
    Email:<input type="email" name="email"/> <br />
    Password:<input type="password" name="password"/> <br />

    <input type="submit" value="Create User" class="btn btn-primary"/>
</form>